/* CSS Reset Start */
  /* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
  */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  font-family: 'Comfortaa', cursive;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS Reset End */

body , html{
    background: lightblue;
}

#mapid {    
    height: 85%;

}


#container{
  display:flex;
  flex-wrap: wrap;
  height:15%;
}

.switch {
  position: relative;
  display: inline-block;
  flex-grow:1;
  width:120px;
  border-style: solid; 
  border-width: 3px;
  margin:1px;
}

.emoji {
  height:20px
}

/* text centering in toggles */
.switch p {
  text-align:center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)  
}

.toggle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

#toggle-color-1,#toggle-color-2,#toggle-color-3,#toggle-color-4,#toggle-color-5,#toggle-color-6{
  background:grey;
} 

input:checked + #toggle-color-1 {
  background-color: #096;
}
input:checked + #toggle-color-2 {
  background-color: #ffde33;
}
input:checked + #toggle-color-3 {
  background-color: #ff9933;
}
input:checked + #toggle-color-4 {
  background-color: #cc0033;
}
input:checked + #toggle-color-5 {
  background-color: #660099;
}
input:checked + #toggle-color-6 {
  background-color: #7e0023;
}


/* AQI symbol markers */

.emoji-icons{
  font-size:15px;
}

.good-aqi{
  text-align:center;
  background-color: rgba(0, 153, 102, 0.925);
  border: white;
  border-style: solid;
  width: 20px;
  color: rgb(20, 16, 16);
  border-radius: 5px;
  padding: 1px 5px 0 5px;
  margin: -55px 0 0 -8px;
}

.mod-aqi{
  text-align:center;
  background-color: #ffde33;
  border: white;
  border-style: solid;
  width: 20px;
  color: black;
  border-radius: 5px;
  padding: 1px 5px 0 5px;
  margin: -55px 0 0 -8px;
}

.sens-aqi{
  text-align:center;
  background-color: #ff9933;
  border: white;
  border-style: solid;
  width: 20px;
  color: black;
  border-radius: 5px;
  padding: 1px 5px 0 5px;
  margin: -55px 0 0 -8px;
}

.line {
  height: 6px;
  width: 3px;
  border-radius: 8px;
  background-color: white;
  position: absolute;
  left:9px;
  top: -6px;
}