/* Location Search Styling */

#search {
  width: 80%;
  height: 6%;
  text-align: center;
  font-size: 20px;
  z-index: 99999;
}

.ac-renderer {
  position: fixed;
  border: 1px solid #ccc;
  margin-top: -1px;
  max-width: 400px;
  z-index: 1000;
}

.ac-row {
  white-space: nowrap;
  position: relative;
  cursor: pointer;
  padding: 5px;
  background-color: #fff;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.ac-row .suffix {
  font-size: .8em;
  color: #ccc;
  padding: .1em 0 .1em 5px;
}

.ac-row .type {
  font-size: .7em;
  color: #aaa;
  display: block;
  width: 100%;
}

.ac-highlighted {
  font-weight: bold;
}

.ac-active {
  background-color: #eee;
}