header {
  z-index: 999;
  position: relative;
  height: 2em;

}

header #title {
  font-size: 1.5em;
  margin: 0;
  background: rgba(204, 204, 204, 0.4)
}

header #sub-title {
  font-size: 1em;
  margin: 0;
  padding: 0;
  border: 0;
  background: rgb(204, 204, 204, 0.4)
}

#mapid {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 8px -6px black;
}

#search {
  width: 80%;
  text-align: center;
  font-size: 20px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: #757F9A;
  border-style: solid
}